.createPostContainer{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createPostHeading{
    
    margin-bottom: 40px;
}

.createPostImageUpload{
    
    margin-bottom: 20px;
}
.createPostForm{
    
    width: 50%;
    display: flex;
    flex-direction: column;
}
.alpha-item{
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 20px;
}

.alpha-item input{
    width: 60%;
}

.postCreateDisc input {
    height: 200px;
}